h1 {
color: black;
}
.header:hover{
    color: beige;
}
.hover-link:hover{
    color: black;
}
.dubs:hover{
    color: black;
}
.dubs:link {
    color: black;
}
.header{
    border: 2px solid black;
    display: inline-block;
    font-family: "Zilla Slab";
    font-size: 75px;
    width: 386px;
    background: linear-gradient(black, beige);
}