h1{
color: black;
}
.header:hover{
    color: beige;
}
.hover-link:hover{
    color: black;
}
.dubs:hover{
    color: black;
}
.dubs:link{
    color: black;
}
.header{
    border: 2px solid black;
    display: inline-block;
    font-family: "Zilla Slab";
    font-size: 190%;
    max-width: 90%;
    background: linear-gradient(black, beige);
}
footer{
    clear: both;
    position: sticky;
}
.youtube{
    position: absolute;
    top: 0;
    right: 0;
}
.info{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
}
.W{
    display: list-item;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
  }